.list-map-btn {
  display: grid;
  place-items: center;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .list-map-btn {
    background-color: hsl(0, 0%, 20%);
    border: 2px solid white;
  }
}

@media (prefers-color-scheme: light) {
  .list-map-btn {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid #ccc;
  }
}

@media only screen and (max-width: 600px) {
  .list-map-btn {
    width: 45px;
    height: 45px;
  }
}
