.more-btn {
  border-radius: 20px;
  // position: fixed;
  // bottom: 50px;
  // right: 5px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .more-btn {
    border: 2px solid #ccc;
  }
}

@media (prefers-color-scheme: dark) {
  .more-btn {
    border: 2px solid white;
  }
}
