.tab-control {
  display: flex;
  flex-direction: column;

  .tab-headers {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px;
      margin-right: 10px;
      cursor: pointer;
      border: 1px solid #ccc;
      border-bottom: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      &.active {
        background-color: #646cff;
        color:white;
      }
    }
  }

  .tab-content {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
