.spinner {
  display: grid;
  place-content: center;
  min-height: 80vh;
}

.bounce {
  animation: 1.4s bounce cubic-bezier(0.755, 0.05, 0.855, 0.06) infinite
    alternate;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
