.arrow-up {
  // display: block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  opacity: 0;
  transition: all 0.4s ease;
  position: fixed;
  bottom: 0;
  left: 0;
  // left: calc(600px - 1rem);
}

.show {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.show:hover {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .arrow-up {
    background-color: hsl(0, 0%, 20%);
  }
}

@media (prefers-color-scheme: light) {
  .arrow-up {
    background-color: hsl(0, 0%, 100%);
  }
}
