.ResultEntry {
  &--main {
    &__link {
      font-size: x-large;
    }

    &__image {
      width: 100%;
    }

    &__google-link {
      width: 32px;
      height: 32px;
    }

    &__distance {
      white-space: nowrap;
      font-size: small;

      &--text {
        font-size: small;
      }
    }

    &__data-cell {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}

.NewResultEntry {
  .text-part {
    display: flex;
    gap: 4px;
    width:100%;
    justify-content: space-between;

    padding: 8px;
    box-sizing: border-box;
  }

  &__ltr {
    direction: ltr;
    width: 100%;
    display: block;
    text-align: left;
  }

  &--location-area {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 48px !important;
  }
}

.has-image {
  position: relative;

  a {
    display: flex;
  }

  .text-part {
    color: white;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));

    a {
      color: white;
    }
  }

  .google-link {
    color: white;
  }
}