.container {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  z-index: 10;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.controls {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  left: 0;
  bottom: 50px;
  flex-direction: row-reverse;
  z-index: 2000;
}
